<?xml version="1.0"?>
<launch>

  
    <arg name="right_ns"   default="right_arm"/>
    <arg name="right_y"    default="0.470"/>    
    <arg name="right_z"    default="0.01"/>
    <arg name="right_Y"    default="3.14"/>  

    <arg name="left_ns"    default="left_arm"/>
    <arg name="left_y"     default="-0.470"/>
    <arg name="left_z"     default="0.001"/>     
    <arg name="left_Y"     default="0.0"/>  


    <node name="supervisor_sys"     pkg="zivid_task" type="supervisor.py"      args="right_arm/" output="screen" />
    <node name="ArmActionServer"    pkg="zivid_task" type="arm_action_server.py"   args="right_arm/"  output="screen" required="true"/>


</launch>